<section id="contact">
    <div class="layout__wrapper grid">
        <div class="grid__content">
            <h2 class="section__title">Contact</h2>
            <p class="section__content">I'm always willing to make new connections with inspiring and skilful people. I occasionally pick up freelance projects (only when they respect humans). If you would like to know more, feel free to drop me a line at </p>
            <p class="section__cta"><a href="">hello@karowieczorek.com</a></p>
        </div>       
    </div>
</section>