<header id="header" class="header layout__wrapper grid--header">
    <a class="header__skip-link" href="#main">Skip to main content</a>
    <h1 class="header__logo fs--h5"><a href="index.html">Karo Wieczorek</a></h1>
    <nav class="header__navigation__wrapper">
        <h2 class="header__navigation__title visually-hidden">Navigation</h2>
        <ul class="header__navigation__list">
            <li><a href="index.html">Index</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="articles.html">Articles</a></li>
            <li><a href="mailto:hello@karowieczorek.com">Email</a></li>
        </ul>
    </nav>
</header>