/* || Import Base styles */
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

/* || Breakpoints */
/* || Colors */
:root {
  --primary-color: #111111;
  --secondary-color: #FFFFFF;
  --tertiary-color: #747474;
  --brand-color: #E64F21;
}

/* || Typography styles */
html {
  font-size: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

.fs--h1 {
  font-size: 2.625rem;
  line-height: 3.5rem;
  letter-spacing: -0.2;
}

@media (min-width: 1024px) {
  .fs--h1 {
    font-size: 3.125rem;
    line-height: 4rem;
    letter-spacing: -0.4;
  }
}

@media (min-width: 1441px) {
  .fs--h1 {
    font-size: 3.75rem;
    line-height: 4.875rem;
    letter-spacing: -0.5;
  }
}

.fs--h2 {
  font-size: 2.1875rem;
  line-height: 3rem;
  letter-spacing: -0.1;
}

@media (min-width: 1024px) {
  .fs--h2 {
    font-size: 2.625rem;
    line-height: 3.5rem;
    letter-spacing: -0.2;
  }
}

@media (min-width: 1441px) {
  .fs--h2 {
    font-size: 3.125rem;
    line-height: 4rem;
    letter-spacing: -0.4;
  }
}

.fs--h3 {
  font-size: 1.8125rem;
  line-height: 2.5rem;
}

@media (min-width: 1024px) {
  .fs--h3 {
    font-size: 2.1875rem;
    line-height: 3rem;
    letter-spacing: -0.1;
  }
}

@media (min-width: 1441px) {
  .fs--h3 {
    font-size: 2.625rem;
    line-height: 3.5rem;
    letter-spacing: -0.2;
  }
}

.fs--h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 1024px) {
  .fs--h4 {
    font-size: 1.8125rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1441px) {
  .fs--h4 {
    font-size: 2.1875rem;
    line-height: 3rem;
    letter-spacing: -0.1;
  }
}

.fs--h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 1024px) {
  .fs--h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1441px) {
  .fs--h5 {
    font-size: 1.8125rem;
    line-height: 2.5rem;
  }
}

.fs--h6 {
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

@media (min-width: 1024px) {
  .fs--h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1441px) {
  .fs--h6 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p, .fs--m {
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

@media (min-width: 1024px) {
  p, .fs--m {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1441px) {
  p, .fs--m {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.fs--s {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1024px) {
  .fs--s {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1441px) {
  .fs--s {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.fs--xs {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1441px) {
  .fs--xs {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

/* || Import Components styles */
/* || Compact Card styles */
.compact-card {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .compact-card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.compact-card__title {
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .compact-card__title {
    padding-bottom: 0;
  }
}

.compact-card__title a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

@media (min-width: 1024px) {
  .compact-card__title a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1441px) {
  .compact-card__title a {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.compact-card__tag {
  padding-right: 4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1441px) {
  .compact-card__tag {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

/* || Icon */
.compact-card__icon {
  position: absolute;
  right: 0.5rem;
  -webkit-transition: all 0.3ms ease-in-out;
  transition: all 0.3ms ease-in-out;
}

@media (min-width: 768px) {
  .compact-card__icon {
    right: 1rem;
  }
}

.compact-card__icon .circle {
  stroke: var(--primary-color);
  fill: var(--secondary-color);
}

.compact-card__icon .arrow {
  fill: var(--primary-color);
}

/* || Hover */
.section__list li:hover .compact-card__title a {
  font-style: italic;
}

.section__list li:hover .compact-card__content {
  padding-left: 3rem;
  -webkit-transition: all 0.3ms ease-in-out;
  transition: all 0.3ms ease-in-out;
}

.section__list li:hover .compact-card__icon {
  left: 0.5rem;
  -webkit-transition: all 0.3ms ease-in-out;
  transition: all 0.3ms ease-in-out;
}

@media (min-width: 768px) {
  .section__list li:hover .compact-card__icon {
    left: 1rem;
  }
}

/* || Focus */
.section__list li a:focus {
  outline: none;
}

.section__list li:focus,
.section__list li:focus-within {
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 2px #e75023;
          box-shadow: 0 0 0 2px #e75023;
  z-index: 2;
}

.section__list li:focus .compact-card,
.section__list li:focus-within .compact-card {
  border-bottom: 1px solid transparent;
}

/* || Footer styles */
.footer {
  border-top: 1px solid var(--primary-color);
  padding: 1rem 0;
}

.footer__main__content__note {
  text-transform: lowercase;
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  .footer__main__content__note {
    padding-bottom: 0rem;
  }
}

@media (min-width: 768px) {
  .footer__navigation__wrapper {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-column: 1fr 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.navigation__site-map__title,
.navigation__social-media__title,
.footer__meta__impressum__title {
  padding-bottom: 2rem;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1441px) {
  .navigation__site-map__title,
  .navigation__social-media__title,
  .footer__meta__impressum__title {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.navigation__site-map__list li:not(:last-of-type),
.navigation__social-media__list li:not(:last-of-type) {
  padding-bottom: 0.5rem;
}

.navigation__site-map__list a,
.navigation__social-media__list a,
.footer__meta__impressum a {
  text-transform: lowercase;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1441px) {
  .navigation__site-map__list a,
  .navigation__social-media__list a,
  .footer__meta__impressum a {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.navigation__site-map__list a:visited,
.navigation__social-media__list a:visited,
.footer__meta__impressum a:visited {
  color: var(--primary-color);
}

.navigation__site-map__list a:hover,
.navigation__social-media__list a:hover,
.footer__meta__impressum a:hover {
  font-style: italic;
}

.navigation__site-map__list a:active,
.navigation__social-media__list a:active,
.footer__meta__impressum a:active {
  color: var(--primary-color);
}

.navigation__site-map__list a:focus,
.navigation__social-media__list a:focus,
.footer__meta__impressum a:focus {
  margin-left: -0.5rem;
  padding: 4px 8px 5px 8px;
  outline: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 2px #e75023;
          box-shadow: 0 0 0 2px #e75023;
  background-color: var(--secondary-color);
}

.footer__navigation__wrapper,
.footer__navigation__site-map {
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  .footer__navigation__wrapper,
  .footer__navigation__site-map {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .footer__meta__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__meta__impressum {
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .footer__meta__impressum {
    padding-bottom: 0;
  }
}

.footer__meta__impressum p,
.footer__meta__copyrights {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1441px) {
  .footer__meta__impressum p,
  .footer__meta__copyrights {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.footer__meta__impressum a {
  text-decoration: underline;
}

.footer__meta__impressum a:hover {
  text-decoration: none;
}

.footer__meta__copyrights {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* || Header styles */
.header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.header__logo {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .header__logo {
    padding-bottom: 0;
  }
}

.header__logo a {
  color: var(--primary-color);
  text-decoration: none;
}

.header__logo a:visited {
  color: var(--primary-color);
}

.header__logo a:hover {
  font-style: italic;
}

.header__logo a:active {
  color: var(--primary-color);
}

.header__logo a:focus {
  margin-left: -0.5rem;
  padding: 4px 0.5rem 5px 0.5rem;
  outline: none;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 0 2px #e75023;
          box-shadow: 0 0 0 2px #e75023;
  background-color: var(--secondary-color);
}

/* || Navigation */
.header__navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation__list a {
  color: var(--primary-color);
  text-transform: lowercase;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: -0.5rem;
  padding: 4px 8px 5px 8px;
}

@media (min-width: 1441px) {
  .header__navigation__list a {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.header__navigation__list a:visited {
  color: var(--primary-color);
}

.header__navigation__list a:hover {
  font-style: italic;
}

.header__navigation__list a:active {
  color: var(--primary-color);
}

.header__navigation__list a:focus {
  margin-left: -0.5rem;
  padding: 4px 8px 5px 8px;
  outline: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 2px #e75023;
          box-shadow: 0 0 0 2px #e75023;
  background-color: var(--secondary-color);
}

/* || Skip to main content */
.header__skip-link {
  position: absolute;
  top: 1rem;
  left: -9999px;
}

.header__skip-link:focus {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  outline: none;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem 1rem 0.7rem 1rem;
  background-color: var(--brand-color);
  -webkit-box-shadow: 0 0 0 0.25rem #fadbd1;
          box-shadow: 0 0 0 0.25rem #fadbd1;
}

@media (min-width: 768px) {
  .header__skip-link:focus {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/* || Import Layout styles */
.layout__wrapper {
  width: 92%;
  margin: 0 auto;
}

/* || Grid setting */
@media (min-width: 375px) {
  .grid {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    -ms-grid-column: 1fr 4fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-column: 1fr 3fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-column: 1fr 2fr;
  }
}

@media (min-width: 1280px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-column: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .grid--header,
  .grid--footer {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-column: 1fr 3fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1024px) {
  .grid--header,
  .grid--footer {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-column: 1fr 2fr;
  }
}

@media (min-width: 1280px) {
  .grid--header,
  .grid--footer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-column: 1fr 1fr;
  }
}

.grid__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

/* || Import Section styles */
/* || Section styles */
section {
  border-top: 1px solid var(--primary-color);
  padding-bottom: 8rem;
}

@media (min-width: 1024px) {
  section {
    padding-bottom: 16rem;
  }
}

.section__title {
  padding-bottom: 8rem;
  text-transform: lowercase;
  font-size: 2.625rem;
  line-height: 3.5rem;
  letter-spacing: -0.2;
}

@media (min-width: 1024px) {
  .section__title {
    font-size: 3.125rem;
    line-height: 4rem;
    letter-spacing: -0.4;
  }
}

@media (min-width: 1441px) {
  .section__title {
    font-size: 3.75rem;
    line-height: 4.875rem;
    letter-spacing: -0.5;
  }
}

.section__content {
  max-width: 60ch;
  padding-bottom: 2rem;
}

.section__cta a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 2rem;
  padding: 0.4rem 1rem 0.5rem 1rem;
}

@media (min-width: 1024px) {
  .section__cta a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1441px) {
  .section__cta a {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.section__cta a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.section__cta a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #e75023;
          box-shadow: 0 0 0 2px #e75023;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
}

.section__list__title {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1441px) {
  .section__list__title {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}

.section__list li {
  margin: 0 -0.5rem;
  padding: 1rem 0.5rem 0 0.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .section__list li {
    margin: 0 -1rem;
    padding: 1rem 1rem 0 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */