{% extends "layout.njk" %}

{% block content %}
<body>
    {% include "partials/header.njk" %}
    <main id="main">
        <section id="index__profile">
            <div class="layout__wrapper grid">
                <div class="grid__content">
                    <h2 class="section__title">Who I am</h2>
                    <p class="section__content">I'm Karo - an experienced product designer-developer hybrid with a key focus on design systems and accessibility. I spent the past 9 years helping various companies innovate and broadcast their full potential through design. As a Senior Product Designer at Mimi Hearing, I create a world where hearing impairment is no longer a barrier. Based in <span class="italic">echt toll</span> Berlin.</p>
                </div>       
            </div>
        </section>
        <section id="index__portfolio">
            <div class="layout__wrapper grid">
                <div class="grid__content">
                    <h2 class="section__title">What I do</h2>
                    <p class="section__content">I solve problems with the design. My goal is to bring value and benefits for both: the user and the business. I'm a caretaker of the entire design project throughout its whole life cycle: from identifying, investigating and validating the problem, to prototyping and testing onto overseeing the implementation.</p>
                    <div class="section__list__wrapper">
                        <h3 class="section__list__title">Selected work</h3>
                        <ul class="section__list">
                            <li class="section__list__item">
                                    List Item
                            </li>
                        </ul>
                    </div>
                </div>       
            </div>
        </section>
        <section id="index__articles">
            <div class="layout__wrapper grid">
                <div class="grid__content">
                    <h2 class="section__title">What I write</h2>
                    <p class="section__content">I write on design, accessibility and lessons learned from my own experience. I collect my thoughts to inspire others and motivate myself never to stop growing.</p>
                </div>       
            </div>
        </section>
        {% include "partials/contact.njk" %}
    </main>
    {% include "partials/footer.njk" %}
    <script src="script.js"></script>
</body>
{% endblock %}
