{% macro compactCard(title, link, tag) %}
    <article class="compact-card">
        <div class="compact-card__content">
            <h4 class="compact-card__title"><a href="{{ link }}"> {{ title }}</a></h4> 
            <span class="compact-card__tag">{{ tag }}</span>
        </div>
        <svg aria-hidden="true" class="compact-card__icon" width="32" height="32"><g fill="none" fill-rule="evenodd"><circle class="circle" cx="16" cy="16" r="15.5"/><path class="arrow" d="M16.53 8.47l7 7a.75.75 0 01.073.976l-.073.084-7 7-1.06-1.06 5.718-5.72H9v-1.5h12.188L15.47 9.53l1.06-1.06z" fill-rule="nonzero"/></g></svg>
    </article>
{% endmacro %}