{% macro factSheet(title, description) %}
    <div class="fact-sheet">
        <p class="fact-sheet__title">{{ title }}</p>
        <p class="fact-sheet__description">{{ description }}</p>
    </div>
{% endmacro %}